{% extends 'base.html' %}

{% block content %}

  <div class="page_header text-center">
    <h1> Biblioteca </h1>
  </div>

  <div class="files_container">
    {% if request.user.permiso.embajador %}
      <div class="section_container">
	      <div class="well emma-purple-well">
	        <legend>Generar Activación</legend>
	        <ul class="list-group">
		        <li class="list-group-item">
		          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxmEcX_BvF-hTRnS2V1jJ1cqQSzimwTGfQXnHYgGMWDVwZNA/viewform"
		             target="_blank">
		            Activa una alianza
		          </a>
		        </li>
	        </ul>
	      </div>
	    </div>
    {% endif %}
    {% if request.user.permiso.intern %}
      <div class="section_container">
	      <div class="well emma-purple-well">
	        <legend>Generar un Lead</legend>
	        <ul class="list-group">
		        <li class="list-group-item">
		          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxmEcX_BvF-hTRnS2V1jJ1cqQSzimwTGfQXnHYgGMWDVwZNA/viewform"
		             target="_blank">
		            Activa un lead
		          </a>
		        </li>
	        </ul>
	      </div>
	    </div>
    {% endif %}
    {% for categoria in categorias %}
      <div class="section_container">
        <div class="well emma-well">
          <legend>{{ categoria.categoria }}</legend>
          <ul class="list-group">
            {% for archivo in archivos %}
              {% if archivo.categoria == categoria %}
                <li class="list-group-item">
                  <a href="{{ archivo.archivo.url }}"
                     target="_blank">
                    {{ archivo.nombre }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}